* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
